<%- @pan1="#{t('view.noun.pnt_point')}" -%><%- @pan2="マスタ管理" -%><%- @pan3="#{t('view.noun.pnt_filter')}削除" -%>
<% content_for(:header_title) do %>
	<%= t('view.noun.pnt_filter') %>削除
<% end %>

<h3><%= t('view.noun.pnt_filter') %>削除</h3>

<p class="dialog">
	<%= t('view.noun.pnt_filter') %>を削除します。削除が完了後即座に<%= t('view.noun.pnt_point') %>処理は行われなくなります。よろしいですか？
</p>

<% form_tag :action => 'delete' do %>
	<%= hidden_field 'pnt_filter', 'id' %>
	<div class="bot_btn">
    	<%= mng_submit_tag "削除" %>
    	<%= mng_cancel_tag %>
	</div>
<% end %>
<br />
<%= render :partial => 'show' %>