<%content_for(:header_title) do %><%= t('view.noun.abm_album') %>削除<%end %>
<div>
    <%= t('view.noun.abm_album') %><br />「<%= @album.title %>」<br />を削除してよろしいでしょうか？<br />
    <% unless @album.abm_images.empty? %>
        この<%= t('view.noun.abm_album') %>に含まれる<%= t('view.noun.abm_image') %>(<%= @album.abm_images.count %>枚)も同時に削除されます。ご注意ください。
    <% end %>
	<%# FIXME ここで制御をしている理由がわからない。　自分のものでなければそもそもこの画面にこさせてはNG %>
    <% if @album.is_mine?(current_base_user.id)%>
		<% form_tag :action => :delete, :id => @album.id do %>
			<div style="text-align:center">
            	<%= submit_tag '削除' %>
            	<%= cancel_tag %>
			</div>
		<% end %>
    <% end %>
</div>
