<% content_for(:header_title) do %>
	<%= t('view.noun.abm_album') %>
<% end %>
<% content_for(:sub_title) do %>
	<%= t('view.noun.base_friend') %>の一覧
<% end %>

<div class="clearfix">
	<div id="contents_title" class="span-12">
		<h2><span><%= t('view.noun.base_friend') %>の<%= t('view.noun.abm_album') %>一覧</span>
	</h2></div>
</div>

<% if @albums.size.zero? %>
	<%= t('view.noun.base_friend') %>の<%= t('view.noun.abm_album') %>がありません。

<% else %>

	<div class="diary_storys_box box_outer">
	
		<div class="pager_box pager_box_top append-bottom clearfix">
			<%= paginate(@albums) %>
		</div><!--pager_col-->
	
		<% @albums.each do |album| %>
			<div class="diary_story_box box_outer clearfix">
				<p>
					<% link_to :action => :show, :id => album.id do %>
						<%= safe_abm_album_cover_image_view(album.cover_abm_image, :large, { :size => "120x120", :class => "left" }) %>
					<% end %>
			
				<h5>
					<span>
						<% link_to :action => :show, :id => album.id do %>
							<%= body_summary(album.title, :length => 100) %>
						<% end %>
					</span>
				</h5>
				<div class="diary_text box_outer small">
					<p>
					<%= body_summary(album.body, :length => 120) %>
					</p>
				</div>
				<div class="span-10 small">
					<span class="permanent_link"><%= link_to_user album.base_user %>｜</span>
					<span class="permanent_link">
						<%= link_to "#{t('view.noun.abm_image')}を見る", :controller => :abm_album, :action => :show, :id => album.id %>｜
					</span>
					<span class="comment_link"><%=h "#{t('view.noun.abm_image')}#{album.abm_images.count}" %>｜</span>
					<span class="contents_date"><%= l(album.updated_at) %></span>
				</div>
				</p>
			</div>
		<% end %>
	
		<div class="pager_box pager_box_top append-bottom clearfix">
			<%= paginate(@albums) %>
		</div><!--pager_col-->
	</div>

<% end %>
