<% content_for(:header_title) do %>
	ゴミ箱<%= t('view.noun.msg_message') %>一覧
<% end %>

<% content_for(:sidemenu) do %>

<h2><span>ゴミ箱</span></h2>

<div id="side_contents_col" class="span-4">
<div id="side_contents_box">
	
	<div id="write_message_box" class="box_outer">
		<div class="wrap1">
		<div class="wrap2">
		<div class="wrap3">
		<div class="clearfix">
			<h6 class="caps"></h6>
			<div class="">
			<ul class="sidemenu">
				<li><%= link_to '<span class="small">メッセージを書く</span>', { :controller => :msg_message, :action => :new } , {:class => "button"}%></li>
			</ul>

			</div>
		</div><!--/box_inner-->
		</div><!--wrap3-->
		</div><!--wrap2-->
		</div><!--wrap1-->
	</div><!--/diary_post_option_box-->

	<div id="" class="W5R4B9df sidemenu_tray  append-bottom">
		<div class="wrap1">
		<div class="wrap2">
		<div class="wrap3">
		<div class="box_inner clearfix">
			<h6 class="caps"></h6>
			<div class="">
			<ul class="sidemenu">
				<%= render :partial => 'msg/message_sidemenu' , :locals => {:current_menu => 'garbage'} %>
			</ul>

			</div>
		</div><!--/box_inner-->
		</div><!--wrap3-->
		</div><!--wrap2-->
		</div><!--wrap1-->
	</div><!--/diary_post_option_box-->
</div>
</div>
<% end %>

<div id="" class="W5R4B9df  append-bottom">
	<div class="wrap1">
	<div class="wrap2">
	<div class="wrap3">
	<div class="box_inner clearfix">

		<div id="message_rows_header" class="clearfix">
			<ul id="messageboxsubmenu_delete" class="button_bar clearfix small">
				<li class="first_child"><a id="msg_delete_from_trash_box"><span>ゴミ箱から削除する</span></a></li>
			</ul>
			
			<ul id="messageboxsubmenuselect" class="menu_line clear clearfix  small">
				<li class="first_child"><a id="msg_all_check"><span>すべて選択する</span></a></li>
				<li><a id="msg_all_uncheck"><span>選択を解除する</span></a></li>
			</ul>
			
			<%= paginate(@messages) %>
		</div><!--/message_rows_header-->

		<div id="callback_function_message"></div>
	
		<% if @messages.size.zero? %>
			<%= t('view.noun.msg_message') %>がありません。
		<% else %>
			<% form_tag({:action => 'delete_from_trash_box_confirm'}, {:id => "msg_form"}) do %>
			<table border="0" id="messagebox" class="message_rows" width="100%">
						<col span="1" class="checkbox">
						<col span="1" class="name">
						<col span="1" class="subject">
						<col span="1" class="date">
						<col span="1" class="delete">
				<thead></thead>
		
				<tbody id="message_list">
					<%= render :partial => 'msg_receiver/message', :collection => @messages, 
					                                               :locals => { :msg_controller => 'msg_message', :msg_action => 'garbage_show' } %>
				</tbody>
			</table>
			<% end %>
		<% end %>
	</div>
	
	<div id="message_rows_footer">
		<%= paginate(@messages) %>
	</div><!--/message_rows_footer-->

	</div><!--/box_inner-->
	</div><!--wrap3-->
	</div><!--wrap2-->
	</div><!--wrap1-->
</div><!--box_outer-->

<% content_for(:js) do %>

	<script type="text/javascript">
	$(function() {
		
		$("#msg_all_check").click(function(){
			$("#msg_form :checkbox:not(:checked)").attr("checked", "checked");
			$("tr.message").css({"background-color":"#F1F1F1"});
		});
		
		$("#msg_all_uncheck").click(function(){
			$("#msg_form :checkbox:checked").attr("checked", "");
			$("tr.message").css({"background-color":"#FFFFFF"});
		});
		
		$("#msg_delete_from_trash_box").click(function(){
			$("form:delete_from_trash_box_confirm").submit();
		});
	});
	
	function get_checkbox_query() {
		var query = '';
		$("#msg_form :checked").each(function(){
			query += "del[" + $(this).attr("value") + "][" + $(this).attr("class") + "]" + "&"
		});
		return query;
	}
	</script>
<% end %>

