<% content_for(:header_title) do %>
受信<%= t('view.noun.msg_message') %>
<% end %>
次の受信<%= t('view.noun.msg_message') %>をゴミ箱に入れます。よろしいですか？<br />

<% form_tag :action => 'delete_messages' do %>
  <% for message in @messages %>
「<%= message.title %>」<%= hidden_field_tag "del[#{message.id}]", message.id %><br />
  <% end %>

  <div style="text-align:center">
    <%= submit_tag 'ゴミ箱に入れる' %>
    <%= cancel_tag %>
  </div>
<% end %>