<!-- ナビゲーション -->
<div id="header_wrap">
	<div id="navi_bar">
		<ul id="navi_menu">
			<li><a href="" title="ヘルプ">ヘルプ</a></li>
			<% if logged_in? %>
				<li class="navi_home"><%= link_to 'ログアウト', :controller => 'manage/mng', :action => 'logout' %></a></li>
			<% end %>
		</ul>
	</div><!-- /navi_bar -->
	<div id="header">
		<h1><a href="/" title="DRECOM Unshiu">Unshiu</a></h1>
		<h2>法人向け携帯CGMプラットフォーム　Unshiu</h2>
	</div>
	
	<div id="cont_menu_b">
	
	<%- case @pan1
			when "SNS設定"; @common_menu=1;
			when t('view.noun.base_user'); @common_menu=2;
			when "メール"; @common_menu=3
			when t('view.noun.pnt_point'); @common_menu=4;
			when "mixiアプリ"; @common_menu=5;
			when "管理者設定"; @common_menu=6;
			when "システム設定"; @common_menu=7;	
		end -%>
		<ul id="cont_menu_l">
			<li id="bl_commu<%= common_menu_on(1) %>"><%= link_to 'SNS設定', :controller => 'manage/dia', :action => 'index' %></li>
			<li id="bl_commu<%= common_menu_on(2) %>"><%= link_to t('view.noun.base_user'), :controller => 'manage/base_user', :action => 'index' %></li>
			<li id="bl_commu<%= common_menu_on(3) %>"><%= link_to 'メール', :controller => 'manage/mlg', :action => 'list' %></li>
			<li id="bl_commu<%= common_menu_on(4) %>"><%= link_to t('view.noun.pnt_point'), :controller => 'manage/pnt', :action => 'month_history' %></li>
		<%# if Unshiu::Plugins.active_mixi? %>
			<li id="bl_commu<%= common_menu_on(5) %>"><%= link_to 'mixiアプリ', :controller => 'manage/mixi_apps', :action => 'index' %></li>
		<%# end %>
			<li id="bl_commu<%= common_menu_on(6) %>"><%= link_to '管理者設定', :controller => 'manage/mng_user', :action => 'list' %></li>
			<li id="bl_commu<%= common_menu_on(7) %>"><%= link_to 'システム設定', manage_mng_system_index_path %></li>
		</ul>

	<%- if @common_menu==1 -%>
		<%- case @pan2
				when t('view.noun.dia_entry'); @sns_menu=1;
				when t('view.noun.abm_album'); @sns_menu=2;
				when t('view.noun.cmm_community'); @sns_menu=3;
				when t('view.noun.msg_message'); @sns_menu=4;
				when t('view.noun.prf_profile'); @sns_menu=5;	
				when t('view.noun.base_notice'); @sns_menu=6;
			end -%>       
		<ul id="menu_sub_blog">
			<li id="menu_02<%= sns_menu_on(1) %>"><%= link_to t('view.noun.dia_entry'), :controller => 'manage/dia', :action => 'index' %></li>
			<li id="menu_03<%= sns_menu_on(2) %>"><%= link_to t('view.noun.abm_album'), :controller => 'manage/abm_album', :action => 'index' %></li>
			<li id="menu_04<%= sns_menu_on(3) %>"><%= link_to t('view.noun.cmm_community'), :controller => 'manage/cmm', :action => 'index' %></li>
			<li id="menu_05<%= sns_menu_on(4) %>"><%= link_to t('view.noun.msg_message'), :controller => 'manage/msg', :action => 'index' %></li>
			<li id="menu_01<%= sns_menu_on(5) %>"><%= link_to t('view.noun.prf_profile'), :controller => 'prf', :action => 'index' %></li>
			<li id="menu_06<%= sns_menu_on(6) %>"><%= link_to t('view.noun.base_notice'), :controller => 'manage/base_notice', :action => 'index' %></li>
		</ul>
	<%- end -%>

	<%- if @common_menu==6 -%>
		<%- case @pan2
				when "管理者設定"; @mng_menu=1;
				when "管理画面ログ"; @mng_menu=2;
				when t('view.noun.base_ng_word'); @mng_menu=3;
				when t('view.noun.base_error_code'); @mng_menu=4;
				when t('view.noun.base_mail_template'); @mng_menu=5;
			end -%>
		<ul id="menu_sub_blog">
			<li id="menu_01<%= mng_menu_on(1) %>"><%= link_to '管理者設定', :controller => 'manage/mng_user', :action => 'index' %></li>
			<li id="menu_02<%= mng_menu_on(2) %>"><%= link_to '管理画面ログ', manage_mng_user_action_histories_path %></li>
			<li id="menu_02<%= mng_menu_on(3) %>"><%= link_to t('view.noun.base_ng_word'), :controller => 'manage/base_ng_word', :action => 'index' %></li>
			<li id="menu_03<%= mng_menu_on(4) %>"><%= link_to t('view.noun.base_error_code'), :controller => 'manage/base_error', :action => 'index' %></li>
			<li id="menu_04<%= mng_menu_on(5) %>"><%= link_to t('view.noun.base_mail_template'), :controller => 'manage/base_mail_template_kinds', :action => 'index' %></li>
		</ul>
	<%- end -%>
	<%- if @common_menu==7 -%>
		<%- case @pan2
				when "設定情報"; @mng_menu=1;
				when "プラグイン管理"; @mng_menu=2;
				when "携帯機種管理"; @mng_menu=3;
				when "アクセスログ"; @mng_menu=4;
			end -%>
		<ul id="menu_sub_blog">
			<li id="menu_01<%= mng_menu_on(1) %>"><%= link_to "設定情報", manage_mng_system_index_path %></li>
			<li id="menu_02<%= mng_menu_on(2) %>"><%= link_to "プラグイン管理", manage_base_plugins_path %></li>
			<li id="menu_03<%= mng_menu_on(3) %>"><%= link_to "携帯機種管理", manage_base_mobiles_path %></li>
			<li id="menu_04<%= mng_menu_on(4) %>"><%= link_to "アクセスログ", manage_mng_apache_logs_path %></li>
		</ul>
	<%- end -%>
	
	</div><!-- /cont_menu_b -->
	<div class="pan">
	    <a href="/manage/" class="pan_home">トップ</a>
	    <% if @pan1 %>&gt;&nbsp;<%=h @pan1 %><% end %>
	    <% if @pan2 %>&nbsp;&gt;&nbsp;<%=h @pan2 %><% end %>
	    <% if @pan3 %>&nbsp;&gt;&nbsp;<%=h @pan3 %><% end %>
  	</div>
</div><!-- /header_wrap -->
<!-- /ナビゲーション -->
